{{- $iconMap := dict
  "info" "info"
  "warning" "warning"
  "success" "check_circle"
  "danger" "report"
  "default" "notifications"
  "primary" "info"
 -}}
{{- $context := .Get "context" | default "default" -}}
{{- $icon := .Get "icon" -}}
<div class="alert alert-{{ $context }} d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">
  {{ with $icon }}
  {{ . }}
  {{ else }}
  <span class="material-icons size-20 me-2">
  {{ index $iconMap $context | default $iconMap.default }}
  </span>
  {{- end -}}
  </div>
  {{ with .Get "text" }}
  <div class="w-100">{{ . | $.Page.RenderString }}</div>
  {{ else }}
  {{ with .InnerDeindent }}
  <div class="w-100">
  {{ . }}
  </div>
  {{ else }}
  {{ errorf "The %q shortcode requires either text or inner content" .Name }}
  {{- end -}}
  {{- end -}}
</div>
